*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-size: 32px;
    text-align: center;
}
h2{
    font-size: 24px
}
.h4{
    font-size: 18px;
}
p{
    font-size: 16px;
}
.container{
    width: 100%;
    height: 80vh;
}
.wrap{
    max-width: 90%;
    margin: auto;
}
.container .wrap .nav-bar{
    max-width: 100%;
    display: block;
    text-align: center;
    height: 70vh;
    padding: 20px 0 0 0;
}

.link ul{
    display: block;
    
}
.link{
    margin: auto;
    padding: 0.5rem 0 0 0;
}
.link ul li, .contact{
    padding: 1rem 0 0 0;
}
.sec{
    width: 100%;
    background: red;
    height: 190vh;
}
.sec1{
    display: block;
    width: 100%;
    height: 30%;
}
.sec1 .sec1-txt{
    text-align: center;
    width: 90%;
    margin: auto;
    height: 320px;
    background: yellow;
    position: relative;
    top: 280px;
}
.sec1 .sec1-txt h1{
    font-size: 32px; 
}
.open{
    display: block;
}
.open .open-img{
    margin: auto;
}

.sec1 .sec1-img{
    display: block;
    width: 100%;
    margin: auto;
    height: 400px;
    position: relative;
    top: -400px;
}
.sec1-img .img{
    background: url("./images/Image.png") no-repeat
    center center/cover;
}
.sec2{
    position: relative;
    top: -200px;
    width: 100%;
    height: 220vh;
    align-content: center;
    background: orchid;
}
.sec2-sec{
    display: block;
    padding: 20px 0 0 0;
    
}
.sec2-txt{
    width: 100%;
    margin: auto;
    text-align: center;
}
.sec2-txt h1, .sec2-txt1{
    text-align: center;
    
}
.sec2-form{
    width:90% ;
    margin: auto;
    padding: 10px 0 0 0;
    height: 100vh;
    background: yellow;
}

.sec2-form .form{
    text-align: center;
}
.sec3{
    width: 100%;
   position: relative;
   top: -80vh;
    height: 200vh;
    background: red;
   
}
.convi{
    width: 100%;
    text-align: justify;
}
.se3-wrap{
    background: blue;
}
.sec3-sec{
    display: block;
}
.sec4{
    width: 100%;
    height: 350vh;
    background: pink;
    position: relative;
    top: -400px;
    
}
.sec4-txt{
    width: 90%;
    height: 100%;

}
.sec4-txt h1{
    font-size: 32px;
}
.row-1{
    display: block;
    width: 100%;
    height: inherit;
    margin: auto;
}
.card{
    width: 70%;
}
.more{
    width: 50%;
    margin: auto;
}
.sec5{
    width: 100%;
    height: 70vh;
    position: relative;
    top: -400px;
}
.sec6{
    width: 100%;
    height: 10vh;
    position: relative;
    top: -400px;
}
.sec6-div{
    width:100%;
    margin: auto;
    height: 100%;
    justify-content: space-around;
}
.sec6-txt h2{
    font-size: 12px;
}
.sec6-txt p{
    font-size: 8px;
}
.sec6-txt{
    padding: 0 0 0 20px;
}
.sec7{
   display: none;
}
.sec7-item{
    width: 100%;
    height: 100%;
}
.sec8{
    width: 100%;
    height: 220vh;
    position: relative;
    top: -350px;
}
.sec8-heading{
    width: 100%;
}
.sec8-item{
    width: 100%;
   
}
.sec8-pix{
    display: block;
    
    width: 100%;
    
}
.sec8-card1{
    width: 100%;
   
    margin: 10px 0 0 0;
    background: red;

}
.sec8-card1 p{
    font-size: 14px;
   
}
.sec8-head{
    width: 100%;
}
.sec8-txt{
    width: 100%;
    text-align: left;
   
}
.sec8-nav{
    
    margin: auto;
}
.sec9{
    width: 100%;
    height: 170vh;
    background: brown;
}
.sec9 .sec9-item{
    width: 90%;
    height: 100%;
}
.sec9-card{
    width: 100%;
    height: 400px;
}
.sec9-txt{
    background: purple;
    width: 100%;
    height: 120px;
}
.sec9-txt p{
    line-height: 18px;
    text-align: justify;
}
.card1{
    width: 100%;
    height: 250px;
}
.sec9-card .sec9-card1{
    width: 100%;
    height: 50%;
}
.sec9-card1{
    background: lime;
    height: 80px;
   
}
.sec9-card .first{
    width: 100%;
    height: 90%;
}
.other{
    width: 100%;
    height: 80px;
    background: red;
    margin: 0;
    padding: 0;
}
.other div{
    height: 40px;
    background: blue;
    width: 100%;
    padding: 0;
    margin: 0;
    
}
.sec9-card .first .sec9-txt p{
    width: 100%;
   font-size: 12px;
    
   
}
.sec9-card .sec9-card1 .sec9-card-div1 {
    text-align: center;
}
.footer{
    width: 100%;
    height: 100vh;
}
.footer-wrap{
    padding: 40px 0 0 0;
}
.footer-flex{
    display: block;
    
}
.footer-txt1{
    width: 100%;
    text-align: center;
    
    margin: auto;
}
.footer-txt1 h1{
    width: 100%;
    text-align: center;
    margin: auto;
    padding: 20px 20px 0 20px;
    
}
.footer-icons{
    width: 80%;
    
    margin: auto;
}
.footer-txt2{
    width: 100%;
    text-align: center;
}
.footer2{
    width: 100%;
    height: 70vh;
}
.footer-item{
    display: block;
    width: 80%;
    margin: auto;
}
.footer-logo {
    
    width: 100%;
}
.footer-logo img{
    margin: auto;
    display: block;
}
.footer-link ul{
    display: block;
    width: 100%;
    text-align: center;
    padding: 20px 0 0 0;
}
.footer-link ul li{
    padding: 20px 0 0 0;
}
.copy{
    width: 100%;
    background: red;

}
.copy{
    padding: 20px 0 0 0;
    text-align: center;
}

